/* reset */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "poppins";
    font-weight: 200;
  }
  /* header styles */
  header
   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    color: white;
    padding: 0.9rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

  /* header styles */
  /* hero section styles */
  .hero-container {
    padding: 0.9rem 2rem;
    margin-top: 30px;
    display: flex;
    gap: 1.5rem;
  }

    img{
        size-adjust: 20%;
        width: 20%;
        height: 300px
    }
.home{
    flex-direction: row;
    display: flex;
}
.nav{
    display: flex;
    justify-content: space-between;
}

